NEXT_PUBLIC_SERVICE_ID="service_5pwlp9d"
NEXT_PUBLIC_TEMPLATE_ID="template_ho2gllc"
NEXT_PUBLIC_PUBLIC_KEY="6N5I1L_vdHHOzRCqX"

# Following env variables should be replaced with your own hosted github stats 

NEXT_PUBLIC_GITHUB_STATS_URL="https://github-readme-stats.vercel.app"
NEXT_PUBLIC_GITHUB_STREAK_STATS_URL="https://github-readme-streak-stats.herokuapp.com"

